aiohttp==3.7.4.post0
aiohttp_cors==0.7.0
async_timeout==3.0.1
chardet==4.0.0
confluent_kafka==1.6.1
dateparser==1.0.0
demjson==2.2.4
elasticsearch==7.15.1
jsonpath==0.82
kafka==1.3.5
kafka_python==2.0.2
lxml==4.6.3
numpy==1.20.3
oss2==2.14.0
pandas==1.2.4
pdfminer==20191125
pdfminer.six==20200517
pdfplumber==0.5.28
pika==1.2.0
Pillow==8.4.0
PyExecJS==1.5.1
PyMySQL==1.0.2
python_dateutil==2.8.2
redis==3.5.3
redis_py_cluster==2.1.2
rediscluster==0.5.3
requests==2.25.1
Scrapy==2.5.0
selenium==4.1.0
six==1.16.0
tensorflow==1.14.0
xlrd==2.0.1
yarl==1.6.3
